---
import Layout from "../../layouts/Layout.astro"
import Video from "../../components/Video.astro";
import ProjectDetail from "../../components/ProjectDetail.astro";

const title = "Virtual Pets";
const subtitle = "An AR project runs on Meta Quest";


const image = "https://app.videas.fr/embed/media/1c21700d-0bd3-4559-81c5-6b739de817db/?title=false&logo=false&thumbnail_duration=false&controls=false&autoplay=true&loop=true";
const about = "This project is about using AR technology to integrate a 3D virtual pet into the real world, which allows players to interact with the pet using real hands. The pet will contain a fundamental AI system that will behave according to the player’s interaction.​";
const role = "Gameplay Programmer, QA";
const teamSize = "5";
const timeFrame = "3 months";
const engine = "Unity";
---

<Layout title="Virtual Pets">
  <div>
    <ProjectDetail title ={title} image ={image} about={about} role={role} teamSize={teamSize} timeFrame={timeFrame} engine={engine}
    />
  </div>

  
  <main class="bg-gray-100">
    <h1 class="font-bold tracking-tight mt-8 text-gray-900 dark:text-white sm:text-4xl">
      Project Links</h1>
      <p class="mt-2 py-8">
        <a href="https://github.com/Eisto123/PetProject" class="text-red-400 font-bold hover:underline">
          GitHub Repository
        </a>
        
      </p>

    <h1 class="font-bold tracking-tight mt-8 text-gray-900 dark:text-white sm:text-4xl">
      Feature</h1>
      <div class="items-center py-2 px-4 mx-auto max-w-screen-xl xl:gap-8 md:grid md:grid-cols-2 sm:py-4 lg:px-6 rounded-lg ">
        <div class="max-w-3xl mx-auto text-gray-900 p-6">
          <p class="mt-2 p-1"><strong>Pet AI</strong> - Behaviour is based on player action, providing fun interaction.</p>
          <p class="mt-2 p-1"><strong>Real Hand Interaction</strong> - Utilizes Meta Interaction SDK to recognize real hand input.</p>
          <p class="mt-2 p-1"><strong>Space Identification</strong> - Uses Meta Utility SDK to recognize areas and generate NavMesh.</p>
          <p class="mt-2 p-1"><strong>Animation</strong> - Provides full and natural animation on the pet.</p>
          <p class="mt-2 p-1"><strong>SFX</strong> - Programmed perfectly to match pet behavior.</p>
        </div>
        
          <Video youtube="https://www.youtube.com/embed/vF7RwcmvJU4?si=toJfYBHevUX6Z4Vg"/>
        </div>

        <h1 class="font-bold tracking-tight mt-8 text-gray-900 dark:text-white sm:text-4xl pb-6">
          Technical Overview</h1>
        <div class="mx-auto text-gray-900 px-1">
          
          <h2 class="text-2xl">Finite State Machine</h2>
          <p class="mt-2 pb-2">
          The dragon AI depends on a finite state machine. It changes behaviour based on user input.
          The states follow the following user journey below.
          </p>

          <img src="https://static.wixstatic.com/media/66c379_2a6b1582e03b4bbc9fbf72f36545e054~mv2.png/v1/fill/w_542,h_509,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/66c379_2a6b1582e03b4bbc9fbf72f36545e054~mv2.png" alt="User Journey" class="rounded-lg place-self-center object-cover">

          
          <h2 class="text-2xl">Real Hand Interaction</h2>
          <p class="mt-2 pb-2">
            This project utilises real-world interaction to create a natural experience of interacting with pets. Meta SDK supports this technology and we build patting and fetch ball interaction upon this fundamental structure.
          </p>
          <img src="https://static.wixstatic.com/media/66c379_9333659c786044ac906e8c8119b1f2e3~mv2.png/v1/fill/w_600,h_401,al_c,q_85,enc_avif,quality_auto/66c379_9333659c786044ac906e8c8119b1f2e3~mv2.png" alt="Hand Interaction" class="rounded-lg place-self-center object-cover">
          
          <h2 class="text-2xl">Room Scanning</h2>
          <p class="mt-2 pb-2">
          This project uses the spatial data in the Meta Quest device. We ask for user permission to use the data to build colliders and navmeshes around the room.
          </p>
          <img src="https://static.wixstatic.com/media/66c379_a5c817608dba4dc2ad976a64f92a3aa1~mv2.png/v1/fill/w_398,h_119,al_c,lg_1,q_85,enc_avif,quality_auto/66c379_a5c817608dba4dc2ad976a64f92a3aa1~mv2.png" alt="Hand Interaction" class="rounded-lg place-self-center object-cover">
          
          <h2 class="text-2xl">Pet Animation</h2>
          <p class="mt-2 pb-2">
          Through a structured state machine, we create an animation controller below that switches animation states based on pet behaviours.
          </p>
          <img src="https://static.wixstatic.com/media/66c379_c2601d4140c24a53b334e717f274b830~mv2.png/v1/fill/w_600,h_307,al_c,q_85,enc_avif,quality_auto/66c379_c2601d4140c24a53b334e717f274b830~mv2.png" alt="Hand Interaction" class="rounded-lg place-self-center object-cover">
        </div>
        
        

        <h1 class="font-bold tracking-tight mt-8 text-gray-900 dark:text-white sm:text-4xl pb-6">
        What I learn</h1>
        <div class="mx-auto text-gray-900 pb-16 px-1">
          <p class="mt-2">
            Through this project, I gained valuable hands-on experience in integrating <strong>Meta SDK</strong> features, such as 
            <strong>room scanning, distance grabbing, real hand interactions, and dynamic nav mesh generation</strong>. By building and analyzing 
            Meta’s samples, I deepened my understanding of how these technologies work and successfully applied them to our project.
        </p>
        <p class="mt-2">
            I enhanced my skills in <strong>interactive gameplay programming</strong> by implementing <strong>patting and feeding interactions</strong>, 
            as well as developing a <strong>debug tool</strong> to efficiently monitor log messages within the headset. Working closely with our designer, 
            I also contributed to the <strong>animation system</strong>, designing the animation graph, setting up controllers in Unity, and synchronizing 
            animations with pet behavior. Additionally, I integrated <strong>sound effects</strong> to enhance immersion.
        </p>
        <p class="mt-2">
            Beyond programming, I took on responsibilities in <strong>asset management</strong>, ensuring that all textures and models were correctly loaded, 
            rendered properly, and maintained their intended scale. My role as a <strong>QA tester</strong> strengthened my ability to systematically 
            <strong>build, test, and refine</strong> our project with each update, allowing our team to showcase a polished and functional prototype on time.
        </p>
        <p class="mt-2">
            Most importantly, this project reinforced the significance of <strong>good teamwork</strong>. By dividing tasks effectively, maintaining clear 
            communication, and continuously providing feedback, we ensured smooth collaboration. My ability to integrate contributions from different 
            team members and iterate based on testing feedback was essential in delivering a cohesive and high-quality experience.
        </p>
        </div>
        <div class="mt-6 flex gap-4 h-96">
          <img src="https://static.wixstatic.com/media/66c379_12e6dddc2e0545169e5ca4cfd393d6f1~mv2.png/v1/fill/w_315,h_201,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/66c379_12e6dddc2e0545169e5ca4cfd393d6f1~mv2.png" alt="Feature Image 1" class="w-1/2 rounded-lg object-cover">
          <img src="https://static.wixstatic.com/media/66c379_eeec1d3cdac14ebd9d7d9b702b54a29d~mv2.png/v1/fill/w_417,h_316,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/66c379_eeec1d3cdac14ebd9d7d9b702b54a29d~mv2.png" alt="Feature Image 2" class="w-1/2 rounded-lg object-cover">
        </div>


  </main>
</Layout>

<style></style>
